/*-- scss:defaults --*/

$primary:       #1e1542 !default;
$secondary:     #E4002B !default;
$body-bg:       #FFFFFF;
$link-color:    #bc6fff;
$body-color:    #2e2e2e;
$popover-color: #330088;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
