/*-- scss:defaults --*/

$primary:       #3b2b76 !default;
$secondary:     #fffcef !default;
$body-bg:       #000000;
$link-color:    #bc6fff;
$body-color:    #e6e6e6;
$popover-color: #330088;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
